https://buildmedia.readthedocs.org/media/pdf/trio-mysql/stable/trio-mysql.pdf

# 創造資料庫

In [56]:
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='benbilly3', charset='utf8')
cursorInsatnce  =db.cursor()  
# SQL Statement to create a database
newDatabaseName = "NewDatabase2"
sqlStatement = "CREATE DATABASE "+newDatabaseName  



# Execute the create database SQL statment through the cursor instance

cursorInsatnce.execute(sqlStatement)

1

# 顯示資料庫

In [ ]:
# SQL query string
sqlQuery            = "SHOW DATABASES"
# Execute the sqlQuery
cursorInsatnce.execute(sqlQuery)
#Fetch all the rows
databaseList = cursorInsatnce.fetchall()
for datatbase in databaseList:

    print(datatbase)

# 創造TABLE

In [47]:
import pymysql
 
# 打开数据库连接
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='benbilly3', db='test123', charset='utf8')
 
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = db.cursor()
 
# 使用 execute() 方法执行 SQL，如果表存在则删除
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")
 
# 使用预处理语句创建表
sql = """CREATE TABLE EMPLOYEE (
         FIRST_NAME  CHAR(20) NOT NULL,
         LAST_NAME  CHAR(20),
         AGE INT,  
         SEX CHAR(1),
         INCOME FLOAT )"""
 
cursor.execute(sql)
 
# 关闭数据库连接
db.close()

# 数据库插入操作
## 寫法一

In [48]:
import pymysql
 
# 打开数据库连接
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='benbilly3', db='test123', charset='utf8')
 
# 使用cursor()方法获取操作游标 
cursor = db.cursor()
 
# SQL 插入语句
sql = """INSERT INTO EMPLOYEE(FIRST_NAME,
         LAST_NAME, AGE, SEX, INCOME)
         VALUES ('Mac', 'Mohan', 20, 'M', 2000)"""
try:
   # 执行sql语句
   cursor.execute(sql)
   # 提交到数据库执行
   db.commit()
except:
   # 如果发生错误则回滚
   db.rollback()
db.close()

## 寫法2

In [49]:
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='benbilly3', db='test123', charset='utf8')

cursor = db.cursor()
 
# SQL 插入语句
sql = "INSERT INTO EMPLOYEE(FIRST_NAME, \
       LAST_NAME, AGE, SEX, INCOME) \
       VALUES ('%s', '%s',  %s,  '%s',  %s)" % \
       ('Mac', 'Mohan', 20, 'M', 2000)
try:
   # 执行sql语句
   cursor.execute(sql)
   # 执行sql语句
   db.commit()
except:
   # 发生错误时回滚
   db.rollback()

# 数据库查询操作

In [53]:
sql = "SELECT * FROM EMPLOYEE \
       WHERE INCOME > %s" % (1000)

# 执行SQL语句
cursor.execute(sql)
# 获取所有记录列表
results = cursor.fetchall()
results
for row in results:
    fname = row[0]
    lname = row[1]
    age = row[2]
    sex = row[3]
    income = row[4]
       # 打印结果
    print ("fname=%s,lname=%s,age=%s,sex=%s,income=%s" % \
             (fname, lname, age, sex, income ))
# except:
#      print ("Error: unable to fetch data")

fname=Mac,lname=Mohan,age=20,sex=M,income=2000.0
fname=Mac,lname=Mohan,age=20,sex=M,income=2000.0

In [58]:
databaseList

()